body {
	background-color: #777;
    height: 100%;
}
.pageContainer {
    width: 980px;
    margin: 0px auto;
    height: 83%;
}
.mainNav,
.fileExplorer {
    /*border: 1px solid red;*/
    background-color: #eee;
    padding:10px;
}
.fileExplorer,
.fileViewer {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.mainNav {
    margin: 10px 0 10px 0;
    width: 100%;
}
.fileExplorer {    
    margin-right: 10px;
    width: 290px;
}
.fileExplorer ul li {
    cursor: pointer;
}
.fileViewer{
    position: relative;
    background-color: #ddd;
    width:675px;
    padding: 5px;
}
.pdf-renderer {
    width: 100%;
}
#outerContainer {
    position: static;
}
#thumbnailView {
    width: 200px;
}
.displayNone {
    display: none !important;
}
#printWindow div {
    width: 100% !important;
}
#printWindow .textLayer > div {
    color: #000000;
    
}
.annotationCanvas {
    border: 1px solid red;
    position: absolute;    
    z-index: 8888;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}
#viewerContainer {
    z-index: 9999;
    /*overflow: initial !important;*/
}